.blogPostArticle {
    margin: 32px 0 16px 0;
}

.blogPost {
    text-decoration: none;
    color: var(--fonts-default-color);
    position: relative;
}

.blogPostTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 32px 0 8px 0;
    line-height: 28px;
    transition: 0.2s;
    font-size: 28px;
    text-transform: uppercase;
}

.blogPostCategory {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: var(--fonts-contrast-color);
}

.blogPostCategory:after {
    content: "|";
    color: white;
    margin: 0 2px 0 2px;
}

.blogPostDate {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    transition: 0.2s;
    margin: 0 0 32px 0;
}

.blogPostParagraph {
    font-family: 'Fira Code', serif;
    font-size: 16px;
    color: var(--fonts-default-color);
    text-align: justify;

}
