:root {
  --main-bg-color: #262626;
  --primary-color: #ffffff;
  --secondary-color: #058a64;
  --contrast-color: #ffffff;
  --fonts-default-color: #e5e5e5;
  --fonts-contrast-color: #ffbb7b;
}

body {
  background-color: var(--main-bg-color);
  margin: 0;
  padding: 0;
  color:gray;
}