:root {
  --main-bg-color: #262626;
  --primary-color: #ffffff;
  --secondary-color: #058a64;
  --contrast-color: #ffffff;
  --fonts-default-color: #d9d9d9;
  --fonts-contrast-color: #ffbb7b;
}

body {
  font-family:  'Roboto', sans-serif;
  background-color: var(--main-bg-color);
  margin: 0;
  padding: 0;
  color: var(--fonts-default-color);
}

