.navLinkText:link, .navLinkText:visited {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--primary-color);
  text-decoration: none;
  transition: 0.3s ease;
  padding: 0 8px;
  position: relative;
}

.navLinkText:hover, .navLinkText:active, .navLinkText:focus, .navLinkText:target, .navLinkText:focus-visible {
  outline: none;
}

.navBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  background-color: rgba(1, 150, 108, 0.8);
  top: 0;
  left: 0;
  z-index: 1000;
}

.navLinkGroup {
  padding: 8px 0;
}

.navLogoGroup {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navLogo {
   padding: 16px 0;
 }

.border  {
  border-left: 2px solid white;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left:0px;
  transition: 0.2s;
}

.navLinkText:hover{
  padding-left: 12px;
}

.navLinkText:hover .border{
  border-left: 8px solid white;
}
